input {
  &.ng-invalid {
    background-color: papayawhip;
  }
}

.error-message {
  color: red;
}

button[type=submit] {
  margin-right: 5px;
}

.search-result {
  margin-top: 10px;
}

.pagination {
  margin-top: 10px;
}
