.search-result-container {
  padding: 0.5rem;

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;

    li {
      border: 1px solid #E2E2E2;
      border-radius: .5rem;
    }
  }
}
